Django>=5.0
django-bootstrap5>=24.0
pytest>=7.4
pytest-django>=4.5.0
mixer>=7.2.2
Faker>=5.4.0,<12.1
pep8-naming>=0.13.3
flake8>=5.0.4
flake8-docstrings>=1.7.0
beautifulsoup4==4.11.2
Pillow>=10.0.0
pytz>=2023.3

